<div class="post">
    <h2>{% if detail_view %} {{ post.title }} {% else %}<a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>{% endif %}</h2>
    <p class="date">{{ post.created_at|date:"F j, Y" }}</p>
    
    <div class="post-actions dropdown">
        <button class="dropdown-toggle" type="button" id="post-actions-{{ post.id }}" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Post options">
            <div class="vertical-dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="post-actions-{{ post.id }}">
            <li><a class="dropdown-item" href="{% url 'blog:post_edit' post.pk %}">Edit</a></li>
            <li><a class="dropdown-item text-danger" href="{% url 'blog:post_delete' post.pk %}">Delete</a></li>
        </ul>
    </div>
    
    <div class="post-content-frame">{{ post.content|safe }}</div>
</div>
