{% extends "blog/base.html" %}
{% load static %}

{% block title %}{{ post.title }} - FatPyBlog{% endblock %}

{% block header_title %}{{ post.title }}{% endblock %}

{% block header_content %}
<nav>
    <ul>
        <!-- Navigation items if needed -->
    </ul>
</nav>
<div class="header-buttons">
    <a href="{% url 'blog:post_list' %}">Return to posts</a>
</div>
{% endblock %}

{% block content %}
    {% include "blog/partials/_post.html" with detail_view=True %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/post-images.js' %}"></script>
{% endblock %}
