{% extends "blog/base.html" %}
{% load static %}

{% block title %}{{ post.title }} - FatPyBlog{% endblock %}

{% with page_subtitle=post.title %}
{% block header_title %}{{ post.title }}{% endblock %}

{% block header_content %}
<nav>
    <ul>
        <!-- Navigation items if needed -->
    </ul>
</nav>
{% include "blog/partials/_header_actions.html" %}
{% endblock %}

{% block content %}
    {% include "blog/partials/_post.html" with detail_view=True %}
{% endblock %}
{% endwith %}

{% block scripts %}
<script src="{% static 'js/post-images.js' %}"></script>
{% endblock %}
